<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Messages{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <script>
      ;(function(){
      var win = window, docElem = document.documentElement, timeoutId;setRem();docElem.setAttribute('data-dpr', win.devicePixelRatio);win.addEventListener('resize', delaySetRem, false);win.addEventListener('pageshow', function(e){e.persisted && delaySetRem();}, false);function delaySetRem(){clearTimeout(timeoutId);timeoutId = setTimeout(setRem, 300);}function setRem(){win.rem = docElem.getBoundingClientRect().width / 10;docElem.style.fontSize = win.rem + 'px';}})();
  </script>
</head>
<body>

    {% block content %}
      <p>Forgot to add content?</p>
    {% endblock %}

  <script src="/scripts/socket.io.js"></script>
  <script src="/scripts/jquery.js"></script>
  <script src="/scripts/vendor/MIDI.js"></script>
  <script src="/scripts/audience.js"></script>
  
  <!-- synth和sample选一个 -->
  <!-- <script src="/scripts/synth.js"></script> -->

  <script src="/scripts/vendor/Base64binary.js"></script> 
  <script src="/scripts/sample.js"></script> 

  <script>
  //main page:
  $('.stage-entrance').keydown(function(e){
    if (e.keyCode == 13 && $(this).val()) {
      location.href = '//'+location.host + '/stage/'+ $(this).val();
    }
  });
  //stage page:

</script>
</body>
</html>